.contacts {
  padding: 140px 0;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
}

.contacts__left {
  width: calc(50% - 20px);
  padding-top: 40px;
  padding-left: 120px;
}

.contacts__title {
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 38px;
}

.contacts-form-wrapper {
  padding: 40px 60px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
}

.contacts__right {
  width: calc(50% - 20px);
  padding-right: 120px;
}

.phone--contacts {
  display: inline-block;
  font-weight: 400;
  margin-bottom: 20px;
}

.address {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding-left: 25px;
  color: var(--accent-color);
  background-image: url("../images/marker.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.social {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social__link--fb {
  background-image: url("../images/facebook.svg");
}
.social__link--insta {
  background-image: url("../images/instagram.svg");
}
.social__link--ln {
  background-image: url("../images/vk.svg");
}
.social__link--tw {
  background-image: url("../images/twitter.svg");
}

.callback-form__input {
  margin-bottom: 20px;
}

.callback-form__textarea {
  resize: none;
  height: 81px;
  padding-top: 10px;
  margin-bottom: 20px;
}
